<!DOCTYPE html>
<html>
  <head>
    <title>Swift Flow</title>
    <meta name="viewport"  content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/node_modules/angular-elastic/elastic.js"></script>
    <script src="js/angular-sanitize.js"></script>

    <script src="js/app.js"></script>

    <style>
      p{
        overflow-wrap:break-word;
        outline-style: solid;
        outline-color: green;
      }
    </style>


  </head>
  <body ng-app="swift-flow" ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Swift Flow</h1>
        <p>Tool for flowing during LD Rounds</p>
      </div>
      <div class="row" id="round-flow-headers">
        <div class="col-md-3">
          <h5>AC</h5>
        </div>
        <div class="col-md-3">
          <h5>NC</h5>
        </div>
        <div class="col-md-3">
          <h5>AR</h5>
        </div>
        <div class="col-md-3">
          <h5>NR</h5>
        </div>
      </div>
      <div class="row" id="round-flow-content" ng-repeat="acArg in acArgs">
        <div class="col-md-12">
          <div id="acArg{{$index+1}}">
            <div class="row" >
              <div class="col-md-3" id="acArg{{$index+1}}text" ng-switch on="selection">
                <p ng-switch-default >{{acArg.ac}}</p>
                <form ng-switch-when="ac" class="form-inline">
                  <div class="form-group">
                    <textarea rows="1" class="form-control msd-elastic" ng-model=acArg.ac></textarea>
                  </div>
                </form>
              </div>
              <div class="col-md-9" id="acArg{{$index+1}}responses">
                  <div class="row" ng-repeat="ncArg in acArg.nc" id="acArg{{$parent.$index+1}}ncArg{{$index+1}}">
                    <div class="col-md-4" ng-switch on="selection">
                      <p ng-switch-default >{{ncArg.nc}}</p>
                      <form ng-switch-when="nc" class="form-inline">
                        <div class="form-group">
                          <textarea ng-keyup="processNcKeyUp($event, $parent.$parent.$index)" rows="1" class="form-control msd-elastic" ng-model=ncArg.nc></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-8">
                        <div class="row" ng-repeat="arArg in ncArg.ar" id="acArg{{$parent.$parent.$index+1}}ncArg{{$parent.$index+1}}arArg{{$index+1}}">
                          <div class="col-md-6" ng-switch on="selection">
                            <p ng-switch-default >{{arArg.ar}}</p>
                            <form ng-switch-when="ar" class="form-inline">
                              <div class="form-group">
                                <textarea ng-keyup="processArKeyUp($event, $parent.$parent.$parent.$index, $parent.$parent.$index)" rows="1" class="form-control msd-elastic" ng-model=arArg.ar></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="col-md-6" id="responses in NR">
                            <div class="row" ng-repeat="nrArg in arArg.nr" id="acArg{{$parent.$parent.$parent.$index+1}}ncArg{{$parent.$parent.$index+1}}arArg{{$parent.$index+1}}nrArg{{$index+1}}">
                              <div ng-switch on="selection">
                                <p ng-switch-default >{{nrArg.nr}}</p>
                                <form ng-switch-when="nr" class="form-inline">
                                  <div class="form-group">
                                    <textarea rows="1" class="form-control msd-elastic" ng-model=nrArg.nr></textarea>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <form ng-submit="addAcArg(acTag)" class="form-inline">
        <div class="form-group">

          <label for="acArgTag">New AC Argument</label>
          <input id="acArgTag" type="text" class="form-control" ng-model="acTag" placeholder="Argument Tag Line"></input>

          <button type="submit" class="btn btn-success">Submit</button>

        </div>
      </form>

      <form ng-submit="addNcArg(ncTag, acArgRef)" class="form-inline">
        <div class="form-group">

          <label for="ncArgTag">New NC Argument</label>
          <input id="ncArgTag" type="text" class="form-control" ng-model="ncTag" placeholder="Argument Tag Line"></input>

          <label for="acArgRef">AC #</label>
          <input id="acArgRef" type="number" class="form-control" ng-model="acArgRef" placeholder="#"></input>

          <button type="submit" class="btn btn-success">Submit</button>

        </div>
      </form>

      <form ng-submit="addArArg(arTag, acArgRef1, ncArgRef1)" class="form-inline">
        <div class="form-group">

          <label for="arArgTag">New AR Argument</label>
          <input id="arArgTag" type="text" class="form-control" ng-model="arTag" placeholder="Argument Tag Line"></input>

          <label for="acArgRef1">AC #</label>
          <input id="acArgRef1" type="number" class="form-control" ng-model="acArgRef1" placeholder="#"></input>

          <label for="ncArgRef1">NC #</label>
          <input id="ncArgRef1" type="number" class="form-control" ng-model="ncArgRef1" placeholder="#"></input>

          <button type="submit" class="btn btn-success">Submit</button>

        </div>
      </form>

      <form ng-submit="addNrArg(nrTag, acArgRef2, ncArgRef2, arArgRef2)" class="form-inline">
        <div class="form-group">

          <label for="nrArgTag">New NR Argument</label>
          <input id="nrArgTag" type="text" class="form-control" ng-model="nrTag" placeholder="Argument Tag Line"></input>

          <label for="acArgRef2">AC #</label>
          <input id="acArgRef2" type="number" class="form-control" ng-model="acArgRef2" placeholder="#"></input>

          <label for="ncArgRef2">NC #</label>
          <input id="ncArgRef2" type="number" class="form-control" ng-model="ncArgRef2" placeholder="#"></input>

          <label for="arArgRef2">AR #</label>
          <input id="arArgRef2" type="number" class="form-control" ng-model="arArgRef2" placeholder="#"></input>


          <button type="submit" class="btn btn-success">Submit</button>

        </div>
      </form>

  </body>
</html>
