<html>
  <head>
    <title>My Angular App!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer} </style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
      <div class="col-md-6 col-md-offset-3">

        <div class="page-header">
          <h1>Flapper News</h1>
        </div>

        <div ng-repeat="post in posts | orderBy: 'upvotes'">
          <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)">^</span>
          {{post.upvotes}}
          <a ng-show="post.link" href="{{post.link}}"> {{post.title}} </a>
          <span ng-hide="post.link"> {{post.title}} </span>
        </div>

        <form ng-submit="addPost()" style="margin-top:30px;">
          <h3> Add new Post </h3>
          <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
          <br>
          <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
          <br>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
  </body>
</html>
