<!DOCTYPE html>
<html>
  <head>
    <title>Swift Flow</title>
    <meta name="viewport"  content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/node_modules/angular-elastic/elastic.js"></script>
    <script src="js/angular-sanitize.js"></script>

    <script src="js/app.js"></script>

  </head>
  <body ng-app="swift-flow" ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Swift Flow</h1>
        <p>Tool for flowing during LD Rounds</p>
      </div>
      <p ng-bind-html="fillertext"></p>
      <p ng-repeat="combo in combos track by $index">{{combo}}<br></p>
      <p>{{combos[comboIndex]}}</p>
      <button class="btn btn-success" ng-click="refresh()">Refresh</button>
      <button class="btn btn-primary" ng-click="increment()">Increment</button>
      <button class="btn btn-danger" ng-click="addArgBySelection(false)">Add Argument</button>

      <div class="row" id="round-flow-headers">
        <ul class="row nav nav-pills nav-justified">
          <li class="col-md-3 active" id="selectAC"><a ng-click="select(0)">AC</a></li>
          <li class="col-md-3" id="selectNC"><a ng-click="select(1)">NC</a></li>
          <li class="col-md-3" id="selectAR"><a ng-click="select(2)">AR</a></li>
          <li class="col-md-3" id="selectNR"><a ng-click="select(3)">NR</a></li>
        </ul>
      </div>
      <div class="row" id="round-flow-content" ng-repeat="acArg in ac">
        <div class="col-md-12">
            <div class="row" id="ac{{$index}}">
              <div class="col-md-3" id="ac{{$index}}text" ng-switch on="selection">
                <p ng-switch-default data-ng-click="changeFocus($parent)">{{acArg.ac}}</p>
                <form ng-switch-when="ac" class="form-inline">
                  <div class="form-group">
                    <textarea rows="1" class="form-control msd-elastic" ng-model=acArg.ac></textarea>
                  </div>
                </form>
              </div>
              <div class="col-md-9" id="ac{{$index}}responses">
                  <div class="row" ng-repeat="ncArg in acArg.nc" id="ac{{$parent.$index}}nc{{$index}}">
                    <div class="col-md-4" ng-switch on="selection">
                      <p ng-switch-default >{{ncArg.nc}}</p>
                      <form ng-switch-when="nc" class="form-inline">
                        <div class="form-group">
                          <textarea ng-keyup="processNcKeyUp($event, $parent.$parent.$index)" rows="1" class="form-control msd-elastic" ng-model=ncArg.nc></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-8">
                        <div class="row" ng-repeat="arArg in ncArg.ar" id="ac{{$parent.$parent.$index}}nc{{$parent.$index}}ar{{$index}}">
                          <div class="col-md-6" ng-switch on="selection">
                            <p ng-switch-default >{{arArg.ar}}</p>
                            <form ng-switch-when="ar" class="form-inline">
                              <div class="form-group">
                                <textarea ng-keyup="processArKeyUp($event, $parent.$parent.$parent.$index, $parent.$parent.$index)" rows="1" class="form-control msd-elastic" ng-model=arArg.ar></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="col-md-6" id="responses in NR">
                            <div class="row" ng-repeat="nrArg in arArg.nr" id="ac{{$parent.$parent.$parent.$index}}nc{{$parent.$parent.$index}}ar{{$parent.$index}}nr{{$index}}">
                              <div ng-switch on="selection">
                                <p ng-switch-default >{{nrArg.nr}}</p>
                                <form ng-switch-when="nr" class="form-inline">
                                  <div class="form-group">
                                    <textarea rows="1" class="form-control msd-elastic" ng-model=nrArg.nr></textarea>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
