p{
  overflow-wrap:break-word;
}

.responding-to {
  outline-style: solid;
  outline-color: blue;
}

.nav-pills {
  cursor: pointer;
}

.emphasized {
  font-weight: bold;
}

.not-emphasized p, .not-emphasized .form-group{
  padding-left: 25px;
}
