h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

div#options > button, div#options > label {
  margin-left: 5px;
  margin-right: 5px;
}

span#name-header {
  margin-right: 20px;
}

div#add-block-section {
  padding-top: 10px;
  padding-bottom: 20px;
}
